In [1]:
# !conda install sqlalchemy --y

In [41]:
import pandas as pd
import sqlalchemy as sql
import numpy as np

In [6]:
connect_string = 'mysql+pymysql://ckg:Admin123@10.200.106.114/umls'
# 10.200.106.114

In [7]:
sql_engine = sql.create_engine(connect_string)

In [8]:
## Concept

### UMLS SCUI

In [99]:
# Unique name of CUI is "TTY='PN'"
# Unique name of SUIC is TTY='FN'

In [154]:
# query = "SELECT CUI, TTY, SUI, STR, AUI, SCUI FROM MRCONSO WHERE SUPPRESS='N' AND LAT = 'ENG' AND TS = 'P' AND ISPREF = 'Y' AND SAB ='SNOMEDCT_US'"

# query = """
# SELECT MRCONSO.CUI, TTY, SUI, STR, AUI, TUI, STN, STY FROM MRCONSO 
# left join MRSTY on MRCONSO.CUI = MRSTY.CUI 
# WHERE SUPPRESS='N' AND LAT = 'ENG' AND TS = 'P' AND ISPREF = 'Y' AND SAB ='SNOMEDCT_US'
# """
# CUI, TTY, SUI, STR, AUI, SCUI, SAB
query = "SELECT * FROM MRCONSO WHERE SAB ='SNOMEDCT_US' and TTY='FN'"

df = pd.read_sql_query(query, sql_engine)

In [155]:
df.sample(3)

,CUI,LAT,TS,LUI,STT,SUI,ISPREF,AUI,SAUI,SCUI,SDUI,SAB,TTY,CODE,STR,SRL,SUPPRESS,CVF
3902,C0039711,ENG,S,L6095634,PF,S6994778,Y,A10895569,2613829011,421662006,None,SNOMEDCT_US,FN,421662006,Texas (geographic location),9,N,NaN
260382,C0405050,ENG,S,L3022767,PF,S3495231,Y,A3649142,659856012,267262008,None,SNOMEDCT_US,FN,267262008,Prolonged spontaneous rupture of membranes (di...,9,N,NaN
177344,C0314520,ENG,S,L3059290,PF,S3315899,Y,A3455606,749334014,2029004,None,SNOMEDCT_US,FN,2029004,Fibrinogen Oslo II (substance),9,N,NaN

In [156]:
df['SUPPRESS'].value_counts()

N    346950
Name: SUPPRESS, dtype: int64

In [157]:
df.shape

(346950, 18)

In [158]:
g = df.groupby('SCUI')['STR'].apply(lambda x: len(list(np.unique(x))))

In [159]:
scui_df = g.reset_index()

In [160]:
scui_df['STR'].unique()

array([1])

In [161]:
df.to_csv('data/subconcepts.csv', index=None)

## UMLS Concepts

In [108]:
query = '''
SELECT * FROM MRCONSO WHERE TTY='PN' AND CUI in (select distinct CUI from MRCONSO WHERE SAB ='SNOMEDCT_US')
'''
df = pd.read_sql_query(query, sql_engine)

In [109]:
df.head()

,CUI,LAT,TS,LUI,STT,SUI,ISPREF,AUI,SAUI,SCUI,SDUI,SAB,TTY,CODE,STR,SRL,SUPPRESS,CVF
0,C0011251,ENG,P,L0011252,PF,S0000118,Y,A0000296,None,None,None,MTH,PN,NOCODE,Delusional disorder,0,N,256.0
1,C0030540,ENG,P,L0030540,PF,S0000220,Y,A0000622,None,None,None,MTH,PN,NOCODE,Parent-child problem,0,N,256.0
2,C0042721,ENG,P,L0042721,PF,S0000337,Y,A0000972,None,None,None,MTH,PN,NOCODE,Viral hepatitis,0,N,256.0
3,C0040255,ENG,P,L0040255,PF,S0000353,Y,A0001031,None,None,None,MTH,PN,U000195,Tinea imbricata,0,N,256.0
4,C0342122,ENG,P,L0040527,PF,S0000439,Y,A0001253,None,None,None,MTH,PN,U002831,Toxic diffuse goiter,0,N,256.0

In [110]:
# g = con.groupby('CUI')['STR'].apply(lambda x: ' | '.join(list(np.unique(x))))

In [111]:
g = df.groupby('CUI')['STR'].apply(lambda x: len(list(np.unique(x))))

In [112]:
cui_df = g.reset_index()

In [113]:
cui_df['STR'].unique()

array([1])

In [114]:
cui_df[cui_df['STR'] >1]

Empty DataFrame
Columns: [CUI, STR]
Index: []

In [118]:
df.to_csv('data/concepts.csv', index=None)

## Relation

### All reltionships

In [119]:
# query = "select CUI1, AUI1, REL, CUI2, AUI2, RELA, RG from umls.MRREL where SAB ='SNOMEDCT_US' AND DIR='Y' AND SUPPRESS='N'"
query = "select CUI1, AUI1, REL, CUI2, AUI2, RELA, RG, SUPPRESS from umls.MRREL where SAB ='SNOMEDCT_US' AND DIR='Y' "

df = pd.read_sql_query(query, sql_engine)

In [120]:
# query = "SELECT * FROM umls.SRDEF WHERE rt = 'RL'"
# rel_type = pd.read_sql_query(query, sql_engine)

In [121]:
df.shape

(3095359, 8)

In [122]:
df.head()

       CUI1       AUI1 REL      CUI2       AUI2     RELA RG SUPPRESS
0  C2603351  A27786098  RN  C1959776  A13013550  part_of  0        N
1  C1281153   A3431931  RN  C1288393   A3431311  part_of  0        N
2  C1281153   A3431931  RN  C1288399   A3431324  part_of  0        N
3  C0459595   A3130328  RN  C1284747   A3432466  part_of  0        N
4  C0459595   A3130328  RN  C1289259   A3425984  part_of  0        N

In [123]:
df['SUPPRESS'].value_counts()

O    1687306
N    1408053
Name: SUPPRESS, dtype: int64

In [124]:
df = df[df['SUPPRESS'] == 'N']

## Remove duplicated relations

In [125]:
df = df.sort_values(by=['CUI1', 'CUI2'])

In [128]:
df.head()

,CUI1,AUI1,REL,CUI2,AUI2,RELA,RG,SUPPRESS
1004877,C0000052,A27769867,RO,C0523417,A3087961,has_component,0,N
329867,C0000097,A3230610,RO,C0270730,A2972013,has_causative_agent,0,N
1896160,C0000102,A2985841,CHD,C0000300,A2877960,isa,None,N
1896161,C0000102,A2985841,CHD,C0301275,A2986570,isa,None,N
1896162,C0000102,A2985841,CHD,C0303972,A3047344,isa,None,N

In [132]:
df[df.duplicated(['CUI1', 'CUI2', 'RELA'])]

,CUI1,AUI1,REL,CUI2,AUI2,RELA,RG,SUPPRESS
2827412,C0000530,A2877975,CHD,C0000530,A3039986,isa,None,N
1468476,C0000665,A29511458,CHD,C0008292,A29547496,isa,None,N
1836610,C0000665,A2877988,CHD,C0012341,A2883051,isa,None,N
1836611,C0000665,A2877988,CHD,C0020306,A2933303,isa,None,N
1768078,C0000665,A29511458,CHD,C0048318,A29537154,isa,None,N
...,...,...,...,...,...,...,...,...
1739496,C4709236,A29523195,RO,C4048352,A22900081,possibly_equivalent_to,None,N
1713895,C4709253,A29559389,RO,C0692886,A29534142,possibly_equivalent_to,None,N
1722698,C4709263,A29569683,RO,C0793336,A22877072,possibly_equivalent_to,None,N
1731085,C4709278,A29554196,RO,C0589962,A29504003,possibly_equivalent_to,None,N
1739335,C4709282,A29533510,RO,C0589955,A29514469,possibly_equivalent_to,None,N

In [135]:
df = df.drop_duplicates(['CUI1', 'CUI2', 'RELA'])

In [136]:
df.shape

(1316043, 8)

In [137]:
df = df[df['CUI1'] != df['CUI2']]

In [138]:
df.to_csv('data/relations.csv', index=None)

In [139]:
df['RELA'].unique()

array(['has_component', 'has_causative_agent', 'isa', 'replaced_by',
       'same_as', 'has_basis_of_strength_substance',
       'has_precise_active_ingredient', 'has_active_ingredient',
       'has_direct_substance', 'is_modification_of', 'has_finding_site',
       'has_direct_procedure_site', 'has_procedure_site',
       'has_indirect_procedure_site', 'has_specimen_source_topography',
       'mapped_to', 'possibly_equivalent_to', 'has_associated_finding',
       'has_alternative', 'was_a', 'due_to', 'has_associated_morphology',
       'has_direct_morphology', 'has_focus', 'has_indirect_morphology',
       'occurs_after', 'has_specimen_source_morphology', 'interprets',
       'associated_with', 'part_of', 'uses_substance',
       'has_associated_procedure', 'uses_device', 'has_direct_device',
       'has_route_of_administration', 'occurs_in',
       'has_specimen_procedure', 'has_recipient_category',
       'has_specimen_substance', 'refers_to', 'has_method',
       'has_definitional_manifestation', 'has_procedure_morphology',
       'inheres_in', 'has_specimen_source_identity', 'has_finding_method',
       'has_direct_site', 'has_indirect_device', 'has_property',
       'has_procedure_device', 'relative_to_part_of',
       'has_basic_dose_form', 'has_dose_form',
       'has_entire_anatomy_structure', 'has_subject_relationship_context',
       'has_measurement_method', 'uses_access_device',
       'has_interpretation', 'uses_energy', 'has_state_of_matter',
       'has_procedure_context', 'characterizes', 'temporally_related_to',
       'during', 'has_surgical_approach', 'has_priority', 'has_specimen',
       'has_intent', 'has_severity', 'has_laterality',
       'has_clinical_course', 'has_finding_context',
       'has_count_of_base_of_active_ingredient',
       'has_concentration_strength_denominator_value',
       'has_presentation_strength_denominator_value',
       'has_presentation_strength_numerator_value',
       'has_concentration_strength_numerator_value', 'has_scale_type',
       'has_inherent_location', 'has_part_anatomy_structure',
       'has_precondition', 'has_time_aspect', 'has_temporal_context',
       'has_pathological_process', 'has_access',
       'has_presentation_strength_numerator_unit',
       'has_concentration_strength_numerator_unit',
       'has_concentration_strength_denominator_unit',
       'has_presentation_strength_denominator_unit',
       'has_revision_status', 'has_disposition', 'moved_to',
       'has_dose_form_intended_site', 'has_finding_informer',
       'has_dose_form_administration_method', 'has_dependent',
       'has_process_output', 'has_technique', 'has_unit_of_presentation',
       'has_dose_form_transformation',
       'has_dose_form_release_characteristic'], dtype=object)

## Semantic Type

In [140]:
# query = """
# select * from MRSTY where CUI in 
# (select distinct CUI from MRCONSO WHERE SUPPRESS='N' AND LAT = 'ENG' 
# AND TS = 'P' AND ISPREF = 'Y' AND SAB ='SNOMEDCT_US')
# """

query = """
select * from MRSTY where CUI in 
(select distinct CUI from MRCONSO WHERE SAB ='SNOMEDCT_US')
"""


df = pd.read_sql_query(query, sql_engine)

In [141]:
df.head()

        CUI   TUI       STN                           STY        ATUI    CVF
0  C0684279  T104  A1.4.1.2  Chemical Viewed Structurally  AT07863958  256.0
1  C0684298  T104  A1.4.1.2  Chemical Viewed Structurally  AT07863959  256.0
2  C0684300  T104  A1.4.1.2  Chemical Viewed Structurally  AT07863960  256.0
3  C0439864  T104  A1.4.1.2  Chemical Viewed Structurally  AT07863965  256.0
4  C0439865  T104  A1.4.1.2  Chemical Viewed Structurally  AT07863966  256.0

In [142]:
df = df[['CUI', 'TUI', 'STN', 'STY']]

In [143]:
df.head()

        CUI   TUI       STN                           STY
0  C0684279  T104  A1.4.1.2  Chemical Viewed Structurally
1  C0684298  T104  A1.4.1.2  Chemical Viewed Structurally
2  C0684300  T104  A1.4.1.2  Chemical Viewed Structurally
3  C0439864  T104  A1.4.1.2  Chemical Viewed Structurally
4  C0439865  T104  A1.4.1.2  Chemical Viewed Structurally

In [144]:
df.to_csv('data/semantype.csv', index=None)

In [163]:
df = pd.read_csv('data/semantype.csv')

In [164]:
g = df.groupby('TUI')['STY'].apply(lambda x: len(list(np.unique(x))))

In [165]:
sty_df = g.reset_index()

In [166]:
sty_df['STY'].unique()

array([1])

In [151]:
df = df.drop_duplicates(['TUI', 'STY'])

In [152]:
df.head()

          CUI   TUI           STN                           STY
0    C0684279  T104      A1.4.1.2  Chemical Viewed Structurally
52   C0424678  T201        A2.3.1            Clinical Attribute
63   C0337636  T057          B1.3         Occupational Activity
165  C0302897  T103        A1.4.1                      Chemical
167  C0010596  T013  A1.1.3.1.1.3                          Fish

In [153]:
df.to_csv('data/stypes.csv', index=None)

In [167]:
g = df.groupby('CUI')['STY'].apply(lambda x: len(list(np.unique(x))))

In [168]:
sty_df = g.reset_index()

In [169]:
sty_df['STY'].unique()

array([2, 3, 1])

In [170]:
sty_df[sty_df['STY'] > 1]

             CUI  STY
0       C0000039    2
1       C0000052    2
2       C0000097    2
3       C0000102    2
4       C0000163    2
...          ...  ...
386053  C4708620    3
386062  C4708629    2
386072  C4708639    2
386073  C4708640    2
386266  C4708833    2

[24558 rows x 2 columns]

### Load to neo4j by cypher-shell

In [ ]:
cypher-shell -u neo4j -p NeO4J

In [ ]:
# Concepts
CREATE CONSTRAINT ON (c:Concepts) ASSERT c.id IS UNIQUE;
CREATE INDEX ON :Concepts(cui); // 2 ms
    
USING PERIODIC COMMIT 500
LOAD csv with headers from "file:///home/ubuntu/snomed/data/concepts.csv" as line
with line
MERGE (:Concepts
        { id: line.CUI, cui: line.CUI, name: line.STR} );

In [171]:
# MATCH (n:Concepts)
# DETACH DELETE n;

In [ ]:
# SubConcepts
CREATE CONSTRAINT ON (c:SubConcepts) ASSERT c.id IS UNIQUE;
CREATE INDEX ON :SubConcepts(scui); // 2 ms
    
USING PERIODIC COMMIT 500
LOAD csv with headers from "file:///home/ubuntu/snomed/data/subconcepts.csv" as line
with line
MERGE (:SubConcepts
        {id: line.SCUI, scui: line.SCUI, name: line.STR, vocabulary: line.SAB});

In [172]:
# MATCH (n:SubConcepts)
# DETACH DELETE n;

In [ ]:
# scui_2_cui
USING PERIODIC COMMIT 500
LOAD CSV WITH HEADERS FROM "file:///home/ubuntu/snomed/data/subconcepts.csv" AS csvLine
MATCH (con:Concepts {id: csvLine.CUI}),(subc:SubConcepts {id: csvLine.SCUI})
MERGE (subc)-[:scui_2_cui]->(con);

In [173]:
# MATCH (r:scui_2_cui)
# DELETE r;

In [ ]:
# cui_2_cui
USING PERIODIC COMMIT 500
LOAD CSV WITH HEADERS FROM "file:///home/ubuntu/snomed/data/relations.csv" AS csvLine
MATCH (con1:Concepts {id: csvLine.CUI1}),(con2:Concepts {id: csvLine.CUI2})
MERGE (con1)-[:cui_2_cui {relation: csvLine.RELA}]->(con2);

In [174]:
# MATCH (r:cui_2_cui)
# DELETE r;

In [ ]:
# Semantic_type
CREATE CONSTRAINT ON (c:SemanticTypes) ASSERT c.id IS UNIQUE;
CREATE INDEX ON :SemanticTypes(tui); // 2 ms
    
USING PERIODIC COMMIT 500
LOAD csv with headers from "file:///home/ubuntu/snomed/data/stypes.csv" as line
with line
MERGE (:SemanticTypes
        { id: line.TUI, tui: line.TUI, name: line.STY, chapter: line.STN} );

In [ ]:
USING PERIODIC COMMIT 500
LOAD CSV WITH HEADERS FROM "file:///home/ubuntu/snomed/data/semantype.csv" AS csvLine
MATCH (con1:Concepts {id: csvLine.CUI}),(con2:SemanticTypes {id: csvLine.TUI})
MERGE (con1)-[:cui_2_tui]->(con2);

In [175]:
# MATCH (n:SemanticTypes)
# DETACH DELETE n;

In [176]:
# MATCH (r:cui_2_tui)
# DELETE r;