## UMLS-Graph Extract Scripts
#### Assumes accessible Oracle database of UMLS Metathesauras and Semantic Network
#### Generates a set of CSV files for ingest into neo4j

In [ ]:
import sys
import numpy as np
import pandas as pd
# import cx_Oracle
import sqlalchemy

pd.set_option('display.max_colwidth', None)

#### Establish a connection - hide password in file in same directory
##### conn_string.txt file contains one line like: oracle+cx_oracle://user:pass@server-address:port/database

In [2]:
conn_string = 'mysql+pymysql://root:Admin123@127.0.0.1:3306/umls'
engine = sqlalchemy.create_engine(conn_string)

#### Set the UMLSversion (in Pitt/Neptune implementation this is the Oracle Schema/User)

In [3]:
# UMLSversion = 'UMLS2021AA'

### TUIs.csv

In [4]:
query = "SELECT DISTINCT UI, STY_RL, STN_RTN, DEF FROM SRDEF WHERE RT = 'STY'"
df = pd.read_sql_query(query, engine)
df.columns =['TUI', 'name', 'STN', 'DEF']
df.to_csv(path_or_buf='data/UMLS-Graph-Extracts/TUIs.csv', header=True, index=False, sep='\t')
df.tail()

,TUI,name,STN,DEF
122,T197,Inorganic Chemical,A1.4.1.2.2,"Chemical elements and their compounds, excluding the hydrocarbons and their derivatives (except carbides, carbonates, cyanides, cyanates and carbon disulfide). Generally inorganic compounds contain ionic bonds. Included here are inorganic acids and salts, alloys, alkalies, and minerals."
123,T200,Clinical Drug,A1.3.3,"A pharmaceutical preparation as produced by the manufacturer. The name usually includes the substance, its strength, and the form, but may include the substance and only one of the other two items."
124,T201,Clinical Attribute,A2.3.1,An observable or measurable property or state of an organism of clinical interest.
125,T203,Drug Delivery Device,A1.3.1.1,A medical device that contains a clinical drug or drugs.
126,T204,Eukaryote,A1.1.3,"One of the three domains of life (the others being Bacteria and Archaea), also called Eukarya. These are organisms whose cells are enclosed in membranes and possess a nucleus. They comprise almost all multicellular and many unicellular organisms, and are traditionally divided into groups (sometimes called kingdoms) including Animals, Plants, Fungi, various Algae, and other taxa that were previously part of the old kingdom Protista."

### TUIrel.csv

In [5]:
query = '''

SELECT DISTINCT UI3, UI1 FROM SRSTRE1 INNER JOIN (SELECT DISTINCT UI from SRDEF WHERE RT = 'STY') as Semantics ON SRSTRE1.UI1 = Semantics.UI 
WHERE UI2 = 'T186'

'''

df = pd.read_sql_query(query, engine)
df.columns =['END_ID', 'START_ID']
df.to_csv(path_or_buf='data/UMLS-Graph-Extracts/TUIrel.csv', header=True, index=False, sep='\t')
df.tail()

    END_ID START_ID
459   T073     T203
460   T074     T203
461   T001     T204
462   T071     T204
463   T072     T204

### CUIs.csv

In [6]:
query = '''
SELECT DISTINCT CUI from MRCONSO where MRCONSO.ISPREF = 'Y' AND MRCONSO.STT = 'PF' AND MRCONSO.TS = 'P' and MRCONSO.LAT = 'ENG'
'''

df = pd.read_sql_query(query, engine)
df.columns =['CUI']
df.to_csv(path_or_buf='data/UMLS-Graph-Extracts/CUIs.csv', header=True, index=False, sep='\t')
df.tail()

              CUI
4391077  C5441500
4391078  C5441501
4391079  C5441502
4391080  C5441503
4391081  C5441504

### CUI-TUIs.csv

In [7]:
query = "SELECT DISTINCT CUI, TUI FROM MRSTY"
df = pd.read_sql_query(query, engine)
df.columns =['START_ID','END_ID']
df.to_csv(path_or_buf='data/UMLS-Graph-Extracts/CUI-TUIs.csv', header=True, index=False, sep='\t')
df.tail()

         START_ID END_ID
4713812  C5441500   T170
4713813  C5441501   T033
4713814  C5441502   T033
4713815  C5441503   T184
4713816  C5441504   T170

### CUI-CUIs.csv

In [8]:
query = '''
SELECT DISTINCT CUI2, CUI1, coalesce(RELA, REL), MRREL.SAB from MRREL inner join (SELECT DISTINCT SAB from MRCONSO where MRCONSO.LAT = 'ENG') as SABlist on MRREL.SAB = SABlist.SAB 
where MRREL.SUPPRESS <> 'O' and CUI1 <> CUI2 and REL <> 'SIB'

'''

df = pd.read_sql_query(query, engine)
df.columns =['START_ID','END_ID','TYPE','SAB']
df.to_csv(path_or_buf='data/UMLS-Graph-Extracts/CUI-CUIs.csv', header=True, index=False, sep='\t')
df.tail()

          START_ID    END_ID TYPE  SAB
24892781  C0343427  C0275936   RB  MTH
24892782  C0275937  C0343427   RN  MTH
24892783  C0343427  C0275937   RB  MTH
24892784  C2349949  C0578511   RO  MTH
24892785  C0578511  C2349949   RO  MTH

In [10]:
# df[(df[':START_ID']=='C2896461') & (df[':END_ID']=='C5441503')]

### CODEs.csv

In [14]:
query = '''
SELECT DISTINCT MRCONSO.SAB, MRCONSO.CODE from MRCONSO inner join (SELECT DISTINCT CUI from MRCONSO where MRCONSO.ISPREF = 'Y' AND MRCONSO.STT = 'PF' AND MRCONSO.TS = 'P' and MRCONSO.LAT = 'ENG') as CUIlist on MRCONSO.CUI = CUIlist.CUI where MRCONSO.LAT = 'ENG' and SUPPRESS <> 'O'
'''

df = pd.read_sql_query(query, engine)

In [17]:
df['CodeID'] = df['SAB'] + ' ' + df['CODE']

In [21]:
# df.sort_values('SAB')

In [20]:
# df.columns =['CodeID','SAB','CODE']
df.to_csv(path_or_buf='data/UMLS-Graph-Extracts/CODEs.csv', header=True, index=False, sep='\t')
df.tail()

                  SAB                 CODE                   CodeID
5129056  CCSR_ICD10CM           MTHU000002  CCSR_ICD10CM MTHU000002
5129057  CCSR_ICD10CM               XXX000      CCSR_ICD10CM XXX000
5129058  CCSR_ICD10CM               XXX111      CCSR_ICD10CM XXX111
5129059  CCSR_ICD10CM               MUS010      CCSR_ICD10CM MUS010
5129060           SRC  V-MED-RT_2021_03_01  SRC V-MED-RT_2021_03_01

### CUI-CODEs.csv

In [22]:
query = "SELECT DISTINCT CUI, SAB, CODE FROM MRCONSO WHERE LAT = 'ENG' AND SUPPRESS <> 'O'"
df = pd.read_sql_query(query, engine)

In [23]:
df.head()

        CUI      SAB CODE
0  C0026106    ICD10  F70
1  C0026106  ICD10AM  F70
2  C0026351    ICD10  F71
3  C0026351  ICD10AM  F71
4  C0036857    ICD10  F72

In [24]:
df['CodeID'] = df['SAB'] + ' ' + df['CODE']

In [28]:
df = df.drop(columns=['SAB', 'CODE'])

In [29]:
df.head()

        CUI       CodeID
0  C0026106    ICD10 F70
1  C0026106  ICD10AM F70
2  C0026351    ICD10 F71
3  C0026351  ICD10AM F71
4  C0036857    ICD10 F72

In [31]:
df.columns =['START_ID','END_ID']
df.to_csv(path_or_buf='data/UMLS-Graph-Extracts/CUI-CODEs.csv', header=True, index=False, sep='\t')

# Keep a copy for use by NDCs later
CUI_CODEs = df.copy()

df.tail()

         START_ID      END_ID
5678369  C0236083  MTH NOCODE
5678370  C0236080  MTH NOCODE
5678371  C0850835  MTH NOCODE
5678372  C1691214  MTH NOCODE
5678373  C0017178  MTH NOCODE

### SUIs.csv

In [32]:
query = "SELECT DISTINCT MRCONSO.SUI, MRCONSO.STR FROM MRCONSO WHERE MRCONSO.LAT = 'ENG'"
df = pd.read_sql_query(query, engine)
df.columns =['SUI','name']
df.to_csv(path_or_buf='data/UMLS-Graph-Extracts/SUIs.csv', header=True, index=False, sep='\t')
df.tail()

              SUI                                             name
9322334  S6723618       Paralysis and paresis (excl cranial nerve)
9322335  S6723619  Paralysis and paresis (excluding cranial nerve)
9322336  S6723670                             Psoriatic conditions
9322337  S6723876                                 Tongue disorders
9322338  S1863720           Students Against Destructive Decisions

### CODE-SUIs.csv

In [34]:
query = "SELECT DISTINCT SUI, SAB, CODE, TTY, CUI FROM MRCONSO WHERE LAT = 'ENG' AND SUPPRESS <> 'O'"
df = pd.read_sql_query(query, engine)

In [35]:
df['CodeID'] = df['SAB'] + ' ' + df['CODE']

In [36]:
df = df.drop(columns=['SAB', 'CODE'])

In [37]:
df.head()

        SUI TTY       CUI       CodeID
0  S0000001  HT  C0026106    ICD10 F70
1  S0000001  HT  C0026106  ICD10AM F70
2  S0000002  HT  C0026351    ICD10 F71
3  S0000002  HT  C0026351  ICD10AM F71
4  S0000003  HT  C0036857    ICD10 F72

In [38]:
df.columns =['END_ID','TYPE','CUI', 'START_ID']
df.to_csv(path_or_buf='data/UMLS-Graph-Extracts/CODE-SUIs.csv', header=True, index=False, sep='\t')
df.tail()

           END_ID TYPE       CUI    START_ID
9802001  S1628023   PN  C0236083  MTH NOCODE
9802002  S1058113   PN  C0236080  MTH NOCODE
9802003  S1911308   PN  C0850835  MTH NOCODE
9802004  S1345051   PN  C1691214  MTH NOCODE
9802005  S0043867   PN  C0017178  MTH NOCODE

### CUI-SUIs.csv

In [39]:
query = "SELECT DISTINCT CUI, SUI FROM MRCONSO WHERE MRCONSO.ISPREF = 'Y' AND MRCONSO.STT = 'PF' AND MRCONSO.TS = 'P' and MRCONSO.LAT = 'ENG'"
df = pd.read_sql_query(query, engine)
df.columns =['START_ID','END_ID']
df.to_csv(path_or_buf='data/UMLS-Graph-Extracts/CUI-SUIs.csv', header=True, index=False, sep='\t')
df.tail()

         START_ID    END_ID
4391077  C0236083  S1628023
4391078  C0236080  S1058113
4391079  C0850835  S1911308
4391080  C1691214  S1345051
4391081  C0017178  S0043867

### DEFs.csv

In [40]:
query = '''SELECT DISTINCT MRDEF.ATUI, MRDEF.SAB, MRDEF.DEF FROM MRDEF inner join 
(SELECT DISTINCT CUI from MRCONSO where MRCONSO.ISPREF = 'Y' AND MRCONSO.STT = 'PF' AND 
MRCONSO.TS = 'P' and MRCONSO.LAT = 'ENG') as CUIlist 
on MRDEF.CUI = CUIlist.CUI where SUPPRESS <> 'O' AND NOT (SAB LIKE 'MSH%%' AND SAB <> 'MSH') 
AND NOT (SAB LIKE 'MDR%%' AND SAB <> 'MDR')'''


df = pd.read_sql_query(query, engine)
df.columns =['ATUI','SAB','DEF']
df.to_csv(path_or_buf='data/UMLS-Graph-Extracts/DEFs.csv', header=True, index=False, sep='\t')
df.tail()

,ATUI,SAB,DEF
335442,AT95033449,GO,"Fusing of specific tracheal branches in an open tracheal system to branches from neighboring hemisegments to form a continuous tracheal network. Branch fusion is mediated by individual cells at the tip of each branch, which contact a similar cell and undergo a coordinated series of morphogenetic events that create a bicellular fusion joint. [GOC:mtg_sensu, PMID:14570584]"
335443,AT95033452,GO,"Catalysis of the reaction: ATP + protein L-histidine = ADP + protein phospho-L-histidine. [EC:2.7.13.3, GOC:mah]"
335444,AT95033457,GO,Catalysis of the reaction: Oplophorus luciferin + O2 = oxidized Oplophorus luciferin + CO2 + hnu. [EC:1.13.12.13]
335445,AT95033460,GO,"Any process that activates, maintains or increases the frequency, rate or extent of phytoalexin biosynthesis, the chemical reactions and pathways resulting in the formation of phytoalexins. [GOC:mtg_pamgo_17jul06]"
335446,AT95033463,GO,"Catalysis of the reaction: ATP + 1D-myo-inositol 1,4,5,6-tetrakisphosphate = ADP + 1D-myo-inositol 1,3,4,5,6-pentakisphosphate. [GOC:elh]"

### DEFrel.csv

In [41]:
query = "SELECT DISTINCT ATUI, CUI FROM MRDEF WHERE SUPPRESS <> 'O'"
df = pd.read_sql_query(query, engine)
df.columns =['END_ID','START_ID']
df.to_csv(path_or_buf='data/UMLS-Graph-Extracts/DEFrel.csv', header=True, index=False, sep='\t')
df.tail()

            END_ID  START_ID
392357  AT96501487  C1869041
392358  AT96501494  C1869028
392359  AT96501496  C1963986
392360  AT96501502  C1869023
392361  AT96501521  C1869077

### Append NDCs to CODEs.csv and to CUI-CODEs.csv after merge to CUI_CODEs RXNORM CUIs (Error cannot load data from this table. )

In [11]:
# Error cannot load data from this table. 
# show variables like 'max_allowed_packet'
# https://stackoverflow.com/questions/7942154/mysql-error-2006-mysql-server-has-gone-away
# https://stackoverflow.com/questions/39369367/increase-max-allowed-packet-size-in-mysql-docker

In [6]:
# DISTINCT ATV, CONCAT(SAB, ' ',CODE)

In [44]:
# query = '''
# SELECT DISTINCT ATV, SAB, CODE FROM MRSAT WHERE SAB = 'RXNORM' and ATN = 'NDC' and SUPPRESS <> 'O'
# '''
# df = pd.read_sql_query(query, engine)

In [10]:
# query = '''
# SELECT DISTINCT ATV, (SAB||' '||CODE) FROM MRSAT WHERE SAB = 'RXNORM' and ATN = 'NDC' and SUPPRESS <> 'O'
# '''
# df = pd.read_sql_query(query, engine)
# # df.columns = ['CODE',':END_ID']
# # df['SAB'] = 'NDC'
# # df['CodeID:ID'] = df['SAB'] + " " + df['CODE']
# # df[['CodeID:ID','SAB','CODE']].to_csv('data/UMLS-Graph-Extracts/CODEs.csv', mode='a', header=False, index=False)

# df = df.merge(CUI_CODEs, how='inner', on=':END_ID')
# df = df[[':START_ID','CodeID:ID']].rename({'CodeID:ID':':END_ID'}, axis=1)
# df.to_csv('data/UMLS-Graph-Extracts/CUI-CODEs.csv', mode='a', header=False, index=False)

# df.tail()