In [19]:
# !conda install sqlalchemy --y

In [1]:
import pandas as pd
import sqlalchemy as sql

In [4]:
connect_string = 'mysql+pymysql://ckg:Admin123@10.200.106.114/umls'
# 10.200.106.114

In [5]:
sql_engine = sql.create_engine(connect_string)

## Concept

In [6]:
# query = "SELECT CUI, TTY, SUI, STR, AUI, SCUI FROM MRCONSO WHERE SUPPRESS='N' AND LAT = 'ENG' AND TS = 'P' AND ISPREF = 'Y' AND SAB ='SNOMEDCT_US'"

# query = """
# SELECT MRCONSO.CUI, TTY, SUI, STR, AUI, TUI, STN, STY FROM MRCONSO 
# left join MRSTY on MRCONSO.CUI = MRSTY.CUI 
# WHERE SUPPRESS='N' AND LAT = 'ENG' AND TS = 'P' AND ISPREF = 'Y' AND SAB ='SNOMEDCT_US'
# """
# CUI, TTY, SUI, STR, AUI, SCUI, SAB
query = "SELECT * FROM MRCONSO WHERE SAB ='SNOMEDCT_US' and TTY='FN'"


df = pd.read_sql_query(query, sql_engine)

In [7]:
df.sample(3)

,CUI,LAT,TS,LUI,STT,SUI,ISPREF,AUI,SAUI,SCUI,SDUI,SAB,TTY,CODE,STR,SRL,SUPPRESS,CVF
51787,C3879549,ENG,S,L11811266,PF,S14685867,Y,A24240632,2941664018,464720005,None,SNOMEDCT_US,FN,464720005,Valved nitrous oxide/oxygen cylinder (physical...,9,N,NaN
284788,C0422326,ENG,S,L2858768,PF,S3547692,Y,A3709861,568448011,185383005,None,SNOMEDCT_US,FN,185383005,Asked to come in - investigation result (finding),9,N,NaN
229201,C0203984,ENG,S,L2796167,PF,S3423978,Y,A3571276,1472547010,72628009,None,SNOMEDCT_US,FN,72628009,"Musculoskeletal exercise, active (regime/therapy)",9,N,NaN

In [8]:
df['SUPPRESS'].value_counts()

N    346950
Name: SUPPRESS, dtype: int64

In [9]:
df.shape

(346950, 18)

In [11]:
df.to_csv('data/concepts.csv', index=None)

In [12]:
con = pd.read_csv('data/concepts.csv')

In [13]:
con = con.set_index('CUI')

In [14]:
con = con.sort_index()

In [15]:
con.shape

(346950, 17)

In [16]:
con['STT'].value_counts()

PF     346415
VO        456
VC         53
VCW        16
VW         10
Name: STT, dtype: int64

## Some concepts have multiple strings

In [19]:
# con.loc['C1635169']

In [83]:
con.index

Index(['C0000052', 'C0000097', 'C0000102', 'C0000163', 'C0000167', 'C0000172',
       'C0000215', 'C0000220', 'C0000246', 'C0000248',
       ...
       'C4721329', 'C4721330', 'C4721331', 'C4721332', 'C4721333', 'C4721334',
       'C4721335', 'C4721336', 'C4721337', 'C4721338'],
      dtype='object', name='CUI', length=346950)

In [84]:
# con.duplicated()

In [ ]:
del con

## Relation

### All reltionships

In [20]:
# query = "select CUI1, AUI1, REL, CUI2, AUI2, RELA, RG from umls.MRREL where SAB ='SNOMEDCT_US' AND DIR='Y' AND SUPPRESS='N'"
query = "select CUI1, AUI1, REL, CUI2, AUI2, RELA, RG, SUPPRESS from umls.MRREL where SAB ='SNOMEDCT_US' AND DIR='Y' "

df = pd.read_sql_query(query, sql_engine)

In [21]:
# query = "SELECT * FROM umls.SRDEF WHERE rt = 'RL'"
# rel_type = pd.read_sql_query(query, sql_engine)

In [22]:
df.shape

(3095359, 8)

In [23]:
df.head()

       CUI1       AUI1 REL      CUI2       AUI2     RELA RG SUPPRESS
0  C2603351  A27786098  RN  C1959776  A13013550  part_of  0        N
1  C1281153   A3431931  RN  C1288393   A3431311  part_of  0        N
2  C1281153   A3431931  RN  C1288399   A3431324  part_of  0        N
3  C0459595   A3130328  RN  C1284747   A3432466  part_of  0        N
4  C0459595   A3130328  RN  C1289259   A3425984  part_of  0        N

In [24]:
df['SUPPRESS'].value_counts()

O    1687306
N    1408053
Name: SUPPRESS, dtype: int64

In [25]:
df = df[df['SUPPRESS'] == 'N']

## Remove duplicated relations

In [26]:
df = df.sort_values(by=['CUI1', 'CUI2'])

In [27]:
df.head()

,CUI1,AUI1,REL,CUI2,AUI2,RELA,RG,SUPPRESS
1004877,C0000052,A27769867,RO,C0523417,A3087961,has_component,0,N
329867,C0000097,A3230610,RO,C0270730,A2972013,has_causative_agent,0,N
1896160,C0000102,A2985841,CHD,C0000300,A2877960,isa,None,N
1896161,C0000102,A2985841,CHD,C0301275,A2986570,isa,None,N
1896162,C0000102,A2985841,CHD,C0303972,A3047344,isa,None,N

In [28]:
df[df.duplicated(['CUI1', 'CUI2', 'RELA'])]

,CUI1,AUI1,REL,CUI2,AUI2,RELA,RG,SUPPRESS
2827412,C0000530,A2877975,CHD,C0000530,A3039986,isa,None,N
1468476,C0000665,A29511458,CHD,C0008292,A29547496,isa,None,N
1836610,C0000665,A2877988,CHD,C0012341,A2883051,isa,None,N
1836611,C0000665,A2877988,CHD,C0020306,A2933303,isa,None,N
1768078,C0000665,A29511458,CHD,C0048318,A29537154,isa,None,N
...,...,...,...,...,...,...,...,...
1739496,C4709236,A29523195,RO,C4048352,A22900081,possibly_equivalent_to,None,N
1713895,C4709253,A29559389,RO,C0692886,A29534142,possibly_equivalent_to,None,N
1722698,C4709263,A29569683,RO,C0793336,A22877072,possibly_equivalent_to,None,N
1731085,C4709278,A29554196,RO,C0589962,A29504003,possibly_equivalent_to,None,N
1739335,C4709282,A29533510,RO,C0589955,A29514469,possibly_equivalent_to,None,N

In [29]:
df = df.drop_duplicates(['CUI1', 'CUI2', 'RELA'])

In [30]:
df.shape

(1316043, 8)

In [31]:
df.to_csv('data/relations.csv', index=None)

In [37]:
rel = pd.read_csv('data/relations.csv')

In [38]:
rel.shape

(1316043, 8)

In [39]:
rel.head()

,CUI1,AUI1,REL,CUI2,AUI2,RELA,RG,SUPPRESS
0,C0000052,A27769867,RO,C0523417,A3087961,has_component,0.0,N
1,C0000097,A3230610,RO,C0270730,A2972013,has_causative_agent,0.0,N
2,C0000102,A2985841,CHD,C0000300,A2877960,isa,NaN,N
3,C0000102,A2985841,CHD,C0301275,A2986570,isa,NaN,N
4,C0000102,A2985841,CHD,C0303972,A3047344,isa,NaN,N

In [41]:
rel['RELA'].unique()

array(['has_component', 'has_causative_agent', 'isa', 'same_as',
       'replaced_by', 'has_active_ingredient',
       'has_basis_of_strength_substance', 'has_precise_active_ingredient',
       'mth_has_plain_text_form', 'mth_has_xml_form',
       'has_direct_substance', 'is_modification_of', 'has_finding_site',
       'has_direct_procedure_site', 'has_procedure_site',
       'has_indirect_procedure_site', 'has_specimen_source_topography',
       'mapped_to', 'possibly_equivalent_to', 'has_associated_finding',
       'has_alternative', 'was_a', 'due_to', 'has_associated_morphology',
       'has_direct_morphology', 'has_focus', 'has_indirect_morphology',
       'occurs_after', 'has_specimen_source_morphology', 'refers_to',
       'interprets', 'associated_with', 'part_of', 'uses_substance',
       'has_associated_procedure', 'uses_device', 'has_direct_device',
       'has_route_of_administration', 'occurs_in',
       'has_specimen_procedure', 'has_recipient_category',
       'has_specimen_substance', 'has_method',
       'has_definitional_manifestation', 'has_procedure_morphology',
       'inheres_in', 'has_specimen_source_identity', 'has_finding_method',
       'has_direct_site', 'has_indirect_device', 'has_property',
       'has_entire_anatomy_structure', 'has_procedure_device',
       'relative_to_part_of', 'has_basic_dose_form', 'has_dose_form',
       'has_subject_relationship_context', 'has_measurement_method',
       'uses_access_device', 'has_interpretation', 'uses_energy',
       'has_state_of_matter', 'has_procedure_context', 'characterizes',
       'temporally_related_to', 'during', 'has_surgical_approach',
       'has_priority', 'has_specimen', 'has_intent', 'has_severity',
       'has_laterality', 'has_clinical_course', 'has_finding_context',
       'has_count_of_base_of_active_ingredient',
       'has_concentration_strength_denominator_value',
       'has_presentation_strength_denominator_value',
       'has_presentation_strength_numerator_value',
       'has_concentration_strength_numerator_value', 'has_scale_type',
       'has_part_anatomy_structure', 'has_inherent_location',
       'has_precondition', 'has_time_aspect', 'has_temporal_context',
       'has_pathological_process', 'has_access',
       'has_presentation_strength_numerator_unit',
       'has_concentration_strength_numerator_unit',
       'has_concentration_strength_denominator_unit',
       'has_presentation_strength_denominator_unit',
       'has_revision_status', 'has_disposition', 'moved_to',
       'has_dose_form_intended_site', 'has_finding_informer',
       'has_dose_form_administration_method', 'has_dependent',
       'has_process_output', 'has_technique', 'has_unit_of_presentation',
       'has_dose_form_transformation',
       'has_dose_form_release_characteristic'], dtype=object)

In [ ]:
rel = rel.set_index(['CUI1', 'CUI2'])

In [ ]:
rel = rel.sort_index()

In [ ]:
rel.loc[('C0348025', 'C3697449')]

In [ ]:
rel.loc[rel.duplicated()==True]

In [ ]:
rel['RELA'].value_counts()

## Semantic Type

In [32]:
# query = """
# select * from MRSTY where CUI in 
# (select distinct CUI from MRCONSO WHERE SUPPRESS='N' AND LAT = 'ENG' 
# AND TS = 'P' AND ISPREF = 'Y' AND SAB ='SNOMEDCT_US')
# """

query = """
select * from MRSTY where CUI in 
(select distinct CUI from MRCONSO WHERE SAB ='SNOMEDCT_US')
"""


df = pd.read_sql_query(query, sql_engine)

In [33]:
df.head()

        CUI   TUI       STN                           STY        ATUI    CVF
0  C0684279  T104  A1.4.1.2  Chemical Viewed Structurally  AT07863958  256.0
1  C0684298  T104  A1.4.1.2  Chemical Viewed Structurally  AT07863959  256.0
2  C0684300  T104  A1.4.1.2  Chemical Viewed Structurally  AT07863960  256.0
3  C0439864  T104  A1.4.1.2  Chemical Viewed Structurally  AT07863965  256.0
4  C0439865  T104  A1.4.1.2  Chemical Viewed Structurally  AT07863966  256.0

In [34]:
df = df[['CUI', 'TUI', 'STN', 'STY']]

In [35]:
df.head()

        CUI   TUI       STN                           STY
0  C0684279  T104  A1.4.1.2  Chemical Viewed Structurally
1  C0684298  T104  A1.4.1.2  Chemical Viewed Structurally
2  C0684300  T104  A1.4.1.2  Chemical Viewed Structurally
3  C0439864  T104  A1.4.1.2  Chemical Viewed Structurally
4  C0439865  T104  A1.4.1.2  Chemical Viewed Structurally

In [36]:
df.to_csv('data/semantype.csv', index=None)